body{
	font-family: Helvetica, "Trebuchet MS" , Arial;
	font-size: small;
}
input {
	text-align: center;
}


/* L'image en background */
#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
}
#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}

/* Le carde de la page */		
#page-wrap { 
	position: relative; 
	z-index: 2; 
	width: 90%; 
	margin: 50px auto; 
	padding: 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
	opacity: 0.95;
}

/* Pied de page */
#footer {
	clear: both;
	padding: 10px;
}
.footer_right {
	float: right;
}


#sharingButtons {
	float: right;
	margin-bottom: 10px;
}
.imgShowerloopOrg {
	float: left;
	width: 200px;
	margin-right: 20px;
}
@media screen and (max-width: 500px) {
	.imgShowerloopOrg {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	.blocs {
		width: 50%;
	}
	#BlocChar {
		width: 45%;
		  position: absolute;
		  top: 310px;
		  right: 10px;
	}
}
@media screen and (min-width: 1400px) {
	#page-wrap { 
		width: 1350px;
	}
}


/* Des trucs des formulaires */
.part.result {
	padding: 10px;
	border: 1px solid #C5C5C5;
	background-color: #EEEEEE;
}
.erreurForm {
	color: #9B0101;
}
.form.PersoPv,
.form.PersoBat,
.form.PersoRegu {
	border: 1px solid #C5C5C5;
	padding: 5px;
}

.form {
	margin: 7px;
}
#Reset {
	color: #616161;
}
.End {
	margin-top: 20px;
}
.remove {
	cursor:pointer;
	cursor:hand;
}

.debug {
	font-size: 90%;
	color: #980808;
}
#resultatConsoTotal {
	float: right;
	margin-right: 30px;
	color: #A11810;
	text-align: right;
}
#ConsoTotal,
#PmaxTotal {
	font-size: 150%;
}
/* Read more */
.more {
	float: right;
}
.calcul {
	padding: 10px;
	border: 1px solid #C5C5C5;
	background-color: #D9D7D7;
}

/* tableau consommation */
table {
	border: medium solid #6495ed;
	border-collapse: collapse;
	width: 100%;
}
th {
	border: thin solid #6495ed;
	padding: 5px;
	background-color: #D0E3FA;
}
td {
	border: thin solid #6495ed;
	padding: 3px;
	text-align: center;
	background-color: #ffffff;
}

/* Onglet */
#onglets{
	display: none;
}
#onglets li{
	float: left;
	list-style: none;
	padding: 7px;
	margin-right: 5px;
	border: 1px solid #000000;
	cursor: pointer;
	background-color: #EEEEEE;
	z-index: 1;
}
#onglets .actif{
	border-bottom: none;
	font-weight: bold;
	z-index: 10;
}
#contenu{
	width: 90%;
	clear: both;
	margin: 0 20px;
	padding: 10px;
	border: 1px solid #000000;
	background-color: #EEEEEE;
	overflow: hidden;
	border-radius: 5px;
}

a {
	color:#07396A;
	text-decoration:underline;
}

/* Infobulle */
a.bulles {
	color:#07396A;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}
#tooltip {
	text-align: left;
    position:absolute;
    z-index:9999;
    color:#fff;
    width:210px;
}
/* hack IE */
*html #tooltip .tipHeader {margin-bottom:-6px;}
#tooltip .tipBody {
    background-color:#000;
    padding:5px;
}

#donate {
	color: #FF6000;
}

#langues {
    position: fixed;
    top: 0px;
    right: 20px;
    padding: 6px;
    border: 1px solid #2F2F2F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #333333; 
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	opacity: 0.70;
	z-index: 999; /* Sit on top */
}
#languesLegende {
    position: fixed;
    top: 50px;
    right: 25px;
    padding: 8px;
    border: 1px solid #6F6C2F;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: #E2DC8C; 
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	opacity: 0.70;
	z-index: 999; /* Sit on top */
}
img.drapeau {
	margin-right: 6px;
	margin-left: 6px;
}
img.drapeauActif {
	opacity: 0.50;
}
.formChoixDeLangue {
	margin: 0; 
	padding: 0; 
}

.pvgisSHScalc {
	width: 70%;
}













/* share */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
  border-color: #1a7576;
}

.resp-sharing-button--xing:hover
.resp-sharing-button--xing:active {
  background-color: #114C4C;
  border-color: #114C4C;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--hackernews {
  background-color: #FF6600;
  border-color: #FF6600;
}

.resp-sharing-button--hackernews:hover
.resp-sharing-button--hackernews:active {
  background-color: #FB6200;
  border-color: #FB6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
  border-color: #507299;
}

.resp-sharing-button--vk:hover
.resp-sharing-button--vk:active {
  background-color: #43648c;
  border-color: #43648c;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}












/* Popup */
.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background-color:#ffffff;
  border:3px solid #666666;
  width:50%;
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  background-color:#ffffff;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
 margin: 10px;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
  background-color:#ffffff;
}
